* {
    box-sizing: border-box;
    direction: rtl;
    font-family: Tahoma ;
    font-size: 12px;
    font-weight: normal;
    /*font-family: "Source Sans Pro", "Arial", sans-serif;*/
    z-index: 10000;
    /*overflow: auto;*/
    box-sizing:  border-box;
}




.ads
{
    margin: 10px auto;
    height: 100px; width: 80%;
    /*border:1px dotted #fff;*/
    text-align: center;
    color: snow;  font-family: Tahoma;  text-align: center; border-radius: 10px;
    overflow: hidden ;

    display: block;

    background: rgba( 255, 255, 255, 0.40 );
    box-shadow: 0 8px 14px 0 rgba(5, 5, 5, 0.37);
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );


}

.logo
{
    width: 32px; height: 32px;
    margin: 1px auto;
    text-align: center; align-items: center;
}
.img_logo
{
    float:left;
    width: 40px; height: 40px;
    margin: 8px 7PX ;
    display: inline-block;
    border-radius: 9%;
    /*border:1px solid #050505;*/
}

.error {
    color: #FF0000;
}

body {
    /* start boody */
    /*background-color: #808080;*/
    /*width: 95%;*/
    margin: auto auto;
    padding: 0 0;
    /*background-image: linear-gradient(to top, #FFD700 0%, #ffe977 100%);*/
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}

.navbarH
{ /* start mune */
    animation-delay: 2400ms;
    background-color: #eeeded;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);    width: 100%;
    margin: 0 0  0 0;
    padding: 0 0 0 0 ;
    height: 60px;
    border-bottom: 1px solid #000;
    display: inline-block;
    text-align: center;
    overflow: auto;
}




/*.navbarH a {background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%)}*/
.navbarH a {
    float: right;
    margin: 15px 5px ;     padding: 5px 5px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #181717;
    /*box-shadow: 0 0 20px #181818;*/
    border-radius: 7px; text-decoration: none;  text-align: center; font-size: 15px;
    display: inline-block;
}

.navbarH a:hover {
    background-position: right center; /* change the direction of the change here */
    color: #C850C0;
    text-decoration: none;
}



/*.bar a:hover*/
/*{*/
/*    background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);*/
/*    color: white;    text-decoration: none   ;*/

/*}*/

.head
{     /* start header */
    display: block;
    /*background-image: linear-gradient(120deg, #ffd700 85%,#fffefc 10%, gold 100%);*/
    /*background-image: linear-gradient(to top, #FFD700 0%, #ffe977 100%);*/
    /*background-color: #FBAB7E;*/
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    text-align: center;  color: #f5f1f3;
    width: 100%;   height: 300px;
    margin: -5px auto 0 auto;   padding: 100px 1px 20px 10px;


}


.head a
{  /* start links  of header */
    width: fit-content;     height: fit-content;
    display: inline-block;
    text-decoration: none;  color: white; text-align: center;
    /*background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);*/
    margin: 5px 10px 0px 0px ;  padding: 7px 7px  ;
    font-size: 15px; border: 1px dotted #faf2f2;  border-radius: 25px;
    /*box-shadow:*/
    /*        10px 10px 14px 0 rgba(0, 0, 0, 0.25),*/
    /*        -8px -8px 10px 0 rgba(255, 255, 255, 0.3);*/

}

.head a:hover
{
    color: #000000;
    /*background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);*/
    /*background-blend-mode: screen;*/
    /*border-bottom: 1px solid #070707;*/
    background: rgba( 255, 255, 255, 0.40 );
    box-shadow: 0 8px 14px 0 rgba(5, 5, 5, 0.37);
    /*backdrop-filter: blur( 3px );*/
    -webkit-backdrop-filter: blur( 3px );
    border: 1px dotted transparent;

}


.head_2{
    display: block;
    background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
    background-blend-mode: screen;

    width: 100%; height: fit-content;
    width: 100%;
    margin: 0 0 0px;   padding: 50px 10px 30px  10px;
    /*background-image: url("../img/brina.jpg");*/


}

.p_list
{
    display: block;
    margin: 20px 0  20px 0;  padding: 5px 10px 10px  10px;
    text-indent: 150px; text-align: justify;
    width: 100%;   height: fit-content;
    transition: 0.5s;
    background-size: 200% auto;
}

.img_list
{
    /*display: inline;*/
    position: absolute;
    width: 42px;  height: 42px;
    margin: -10px -45px;

}


.head_3
{     /* start header */
    display: block;
    /*background-image: linear-gradient(120deg, #ffd700 85%,#fffefc 10%, gold 100%);*/
    /*background-image: linear-gradient(to top, #FFD700 0%, #ffe977 100%);*/
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    text-align: center;  color: #f5f1f3;
    width: 100%;   height: fit-content;
    margin: 0 0;   padding: 40px 0 20PX 0;


}

.h1
{
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

}

.h1
{

    height: fit-content;    width: fit-content; width: -moz-fit-content;
    display: block;
    color: black; text-align: center; font-size: 40px;font-weight: bold;
    border-radius: 1pc ;
    margin: 0px auto 30px auto ;  padding: 5px 30px 10px 30px ;
    box-shadow:
            12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
            -8px -8px 12px 0 rgba(0, 0, 0, .25) inset;

    transition: 0.5s;
    background-size: 200% auto;
    overflow: auto;
}



.head h2
{
    display: block;
    color: #fcf8f8;      text-align: center;     font-size: 30px;
    margin: 40px auto 10px; padding: 15px 20px ;
    height: fit-content;    width: fit-content; width: -moz-fit-content;
    border-radius: 6pc 3pc;
    background-color: rgba(2, 2, 2, 0.4);
    box-shadow:
            12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
            -8px -8px 12px 0 rgba(0, 0, 0, .25) inset;
}




.footer
{
    height: fit-content; width: 100%;
    margin: 0 auto 0px 0px; padding: 20px 0;
    background-color: #585858;
    color: #030303;
    text-align: center;
    /*word-spacing: 3px;*/
    letter-spacing: 0.6px;

}


.Donation_Gr_container
{
    display:grid;
    height: fit-content;
    width: 100%;
    margin: 60px auto;
    grid-template-columns: 20% 20% 20%  20%  ;
    grid-template-rows: auto;    justify-content: center;
    column-gap: 20px;
    row-gap: 15px;
}

hr
{
    width: 90%;
}

.Donation_g_item
{
    display: block;
    /*background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);    !*border: 1px solid rgba(0, 0, 0, 0.8);*!*/
    text-align: center;
    border-radius: 2px;
    width: 100%;
    padding: 0px;  margin: 0 0 10px 0;
    background: rgba( 255, 255, 255, 0.40 );
    box-shadow: 0 8px 14px 0 rgba(5, 5, 5, 0.37);
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
}

.Donation_g_item img
{
    height: 90px; width: 100%;
}



.fo_Gr-container {

    display:grid;
    height: fit-content;
    width: 100%;
    margin: 10px auto;
    grid-template-columns: fit-content(45%) fit-content(45%) fit-content(45%)  fit-content(45%)  ;
    grid-template-rows: auto;    justify-content: center;
    border-radius: 7px;
    column-gap: 20px;
    row-gap: 15px;

}

.fo_g-item {
    display: block;
    width: 100%;
    /*border-radius: 1pc;*/
    /*width: fit-content; width: -moz-fit-content;*/
    padding: 0px 15px 0 0;  margin: 8px 0px 10px 0;
    /*background: #cacaca;*/
    /*box-shadow: 0 8px 14px 0 rgba(5, 5, 5, 0.37);*/
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    /*border-right: 2px dotted #ffffff;*/
    text-align: right;
}


.fo_g-item h1
{
    color:#fff;  font-size: 13px; font-weight: bold;
    padding: 0 0 9px 0;
    border-bottom: 1px dotted #f8f8f5;

}

.fo_g-item p , .fo_g-item a
{
    /*color: #F05F57;*/
     font-size: 12px; color: #000000; text-decoration: none;
    margin: 0px 0 0 0; padding: 0 0 0 0 ;
}

/*!*  start  Display Page  *!*/
/*.Display_Body {*/
/*    background-image: linear-gradient(to top, #FFD700 0%, #ffe977 100%);*/


/*}*/

.Display_Grid-container {

    display:grid;
    height: fit-content;
    width: 95%;
    margin: 50px auto;
    grid-template-columns: 23% 23% 23% 2323% ;
    grid-template-rows: auto;    justify-content: center;
    /*background-color: rgb(255, 255, 255);*/
    /*background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);*/
    /*padding: 50px 7px;*/
    border-radius: 7px;
    column-gap: 25px;
    row-gap: 25px;

}
.img_Ads_img
{
    display: inline-block;
    width: 45%; height:40px;
    margin: 0px auto 3px auto;
    overflow: hidden;
}


.grid-item {
    overflow:hidden ;
    display: block;
    text-align: center;
    border-radius:  17px ;
    padding: 0px 0px;  margin:0px 0px ;
    background: rgba( 255, 255, 255, 0.40 );
    box-shadow: 0 8px 14px 0 rgba(5, 5, 5, 0.37);
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    transition: 0.5s;
    background-size: 200% auto;
}

.grid-item:hover {
    background: rgba( 255, 255, 255, 0.85 );
    box-shadow: 0 8px 16px 0 rgba(2, 2, 2, 0.37);
}

.grid-item p{
    display: inline-block;
    color: black; text-align: center; font-size: 12px; padding:5px 5px;
    margin: 0px auto;
}

.grid-item a{
    display: inline-block;
    color: black; text-align: center; font-size: 12px;  text-decoration: none;
    padding:5px 5px; margin: 0px auto;
}

/*.grid-item:nth-child(2n+1) {*/
/*    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);*/
/*    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);*/
/*}*/
.section
{
    float: left;
    width: 70%;
    margin: 0px auto;    padding: 0px 0px;
}


.link_item
{
    display: none;
    width:100px;
    margin: 0px auto 10px;
    padding:5px 5px;
    background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
    background-blend-mode: screen;    color: snow;
    text-align: center;
    text-decoration: none;
    border-radius:50%;
    font-size: 16px;
}

.link_item:hover
{
    background-image: linear-gradient(to right, #f8ec00 0%, #f9d423 100%);color: black;
}


.div_item_place
{
     display: inline-block;
    width: 60%; height: 28px;
    margin: 0px auto ; padding: 0px 0px;
    /*border-bottom: 1px solid  black ;*/
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);

}

.div_item_complaint
{
    float: left;
    width: 20%; height: 28px;
    margin: 0px auto ; padding: 0px 5px;
    COLOR: #000000;
    /*border-bottom: 1px solid  black ;*/
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    border-right: 1px solid #000;
    overflow: auto;
}

.div_item_delete
{
    float: right;
    width: 20%; height: 28px;
    margin: 0px auto ; padding: 0px 5px;
    COLOR: #000000;
    /*border-radius:  0px 0px 10px 0;*/
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    border-left: 1px solid #000;
    overflow: auto;
}


.div_item_number
{
    overflow: auto;
    float: right;
    width: 50%;
    margin:0px auto ;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    border-top: 1px solid #000;

}

.div_item_date
{
    overflow: auto;
    float: left;
    width: 49.999%;
    margin:0px auto; padding: 0px 0px;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    border-right: 1px solid #000;
    border-top: 1px solid #000;
}

.div_item_description
{
    display: block;
    width: fit-content; width: -moz-fit-content; height: 80px;
    margin: 0px auto ;
}


.imh_grid
{
    height: 200px;
    width: 200px;
}

.DisplayHead
{
    display: block;
    width: 100%;
    margin: 20px  auto;
    justify-content: center;
    /*background-color: rgb(255, 252, 252);*/
}

.box_form
{
    display: block;
    margin: 60px auto ; padding: 10px 15px;
    width: fit-content; width: -moz-fit-content; height: fit-content;
    /*background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);*/
    background-color: rgba(255, 255, 255, 0.7);
    color: snow; text-align: center;
    border-radius:25px;
}

.form_insert
{
    width: fit-content; height: fit-content;
    margin: 10px auto;  padding: 10px 5px;
    display: block;
}

.list_insert
{
    display: block;
    margin: 15px 0;  padding: 5px 5px;
    height: 45px;   width: 300px;
    border-radius: 13px;    border: 1px solid #000;
    font-family:  Tahoma;  text-align: center;    /*font-size: 12px;*/
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.list_insert:hover {
    background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: normal, lighten, soft-light;
    color: black;
}

.input_form_insert
{
    display: block;
    margin: 15px auto;  padding: 5px 10px;
    height: 45px;   width: 300px;
    font-family:Tahoma;   text-align: center;     font-size: 15px; color: black;
    border: 1px solid #000;    border-radius: 13px;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.input_form_insert:hover {
    background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: normal, lighten, soft-light;    color: snow;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}

.textarea_form_insert
{
    display: block;
    margin: 15px auto;  padding: 5px 10px;
    height: 90px;   max-height: 90px;   width: 300px;   max-width: 300px;
    border-radius: 20px; border: 1px solid #000;
    font-family: Tahoma; font-size: 15px;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.textarea_form_insert:hover {
    background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: normal, lighten, soft-light;    color: snow;
}



.btn_submit_insert {background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%)}
.btn_submit_insert{

    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /*box-shadow: 0 0 20px #eee;*/
    display: inline-block;
    margin: 5px auto; padding: 5px 10px;
        height: 45px ; width: 300px;
        border-radius: 13px; border-width: 0px;
        font-family: Tahoma;   text-align: center; font-size: 18px; color: black;
}

.btn_submit_insert:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

/*.btn_submit_insert*/
/*{*/
/*    margin: 5px auto; padding: 5px 10px;*/
/*    height: 45px ; width: 300px;*/
/*    background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);*/
/*    background-blend-mode: screen;*/
/*    border-radius: 13px; border-width: 0px;*/
/*    font-family: Tahoma;   text-align: center; font-size: 18px; color: black;*/
/*}*/

/*.btn_submit_insert:hover {*/
/*    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);*/
/*}*/
.cont
{
    display: inline-block;
    width: 90%;
    margin: 0px auto;
    padding: 0px 0px;
    /*border: 1px dotted #000000;*/
    display: block;
    align-content: center;
    text-align: center;

}
.div_box_sreach
{
    display: inline-block;
    margin: 25px auto; padding: 5px 10px;
    width: fit-content; width: -moz-fit-content;     height: fit-content;
    background: rgba( 255, 255, 255, 0.40 );
    box-shadow: 0 8px 14px 0 rgba(5, 5, 5, 0.37);
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 15px;
}

.list_sreach
{
    display: inline-block;
    width: fit-content; width: -moz-fit-content;    height: 35px ;
    margin: 0px auto;    padding: 5px 5px;
    border-radius: 8px; border: 1px solid #000000;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    font-family: Tahoma;   text-align: center; font-size: 12px;
}

/*.btn_submit_sreach {*/
/*    display: inline-block;*/
/*    width: fit-content; width: -moz-fit-content;    height: 35px ;*/
/*    margin: 10px 5px;    padding: 5px 5px;*/
/*    background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);*/
/*    background-blend-mode: screen;*/
/*    border-radius: 13px; border-width: 0px;*/
/*    font-family:"Tahoma";  text-align: center; font-size: 18px; color: black;*/
/*}*/


.btn_submit_sreach {background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%)}
.btn_submit_sreach{

    /*text-align: center;*/
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /*box-shadow: 0 0 20px #eee;*/
    display: inline-block;
    margin: 5px auto; padding: 5px 10px;
    height: 35px ; width: fit-content;
    border-radius: 13px; border-width: 0px;
    font-family: Tahoma;   text-align: center; font-size: 15px; color: black;
}

.btn_submit_sreach:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}



/*.btn_submit_sreach:hover {*/
/*    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);*/
/*}*/

.diHead
{
    width: fit-content;
    border: 1px solid rgba(0, 0, 0, 0.8); border-radius: 15px;
    text-align: center;
}

/*  end  Display Page  */
.alert_copy{
    width: 100%;
    margin: 0 0 0 0 ;    padding: 5px;
    background-color: #282121;
    text-align: center; font-size: 10px;    color: white;
}

.alert_success{
    width: 100%;
    margin: 0px;    padding: 5px;
    background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
    text-align: center; font-size: 25px;    color: green;
}

.alert_danger{
    width: 100%;
    margin: 0px;    padding: 5px;
    background-image: linear-gradient( 135deg, #F05F57 10%, #360940 100%);
    text-align: center; font-size: 25px;    color: white;
}

.alert_info{
    width: 100%;
    margin: 0px;    padding: 5px;
    /*background-image: linear-gradient( 135deg, #FDEB71 10%, #F8D800 100%);*/
    background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
    text-align: center; font-size: 15px;    color: white;
    transition: font-size 1s;
}

.alert_info:hover{

    background-image: linear-gradient( 135deg, #0396FF 10%, #ABDCFF 100%);
    text-align: center; font-size: 18px;    color: white;
}

.div_item_id{

    float: right;
    display: inline-block;
    width: 25%;height: 25px;
    margin:0px auto ;
    /*border-radius:  0px 10px 0 0; */
    border-left: 1px solid #000;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    /*overflow: auto;*/
}

.div_item_Name
{
    display: inline-block;
    width: 50%; height: 25px;
    margin:0px auto ;padding: 0px 0px;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.div_item_new
{
    display: inline-block;    float: left;
    height: 25px; width: 25%;
    display: inline-block;
    margin:0px auto ;padding: 0px 0px;
    /*border-radius:  10px 0px 0 0;*/
    border-right: 1px solid #000; border-radius:  10px 0px 0 0;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);

}

.div_item_used
{
display: inline-block;
    float: left;
    width: 25%; height: 25px;
    margin:0px auto ;padding: 0px 0px;
    /*border-radius:  10px 0px 0 0;*/
    border-right: 1px solid #000;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);

}

.img_item_img1{
    display: block;
    margin: 0px 0px; padding: 0px 0px;
    width:  100%; height: 140px;
    /*border-radius: 25px;*/
}

.img_item_icon
{
    width:  15px; height: 15px;
    margin: 0px 0px;     padding:0px 0px;
}



/*// Extra small devices (portrait phones, less than 576px)*/
/*// No media query for `xs` since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px)
{

    .Display_Grid-container { grid-template-columns:  94% ; }

    .fo_Gr-container { grid-template-columns:  95% ; }

    .img_item_img1{
        /*display: inline-flex;*/
        margin: auto auto;
        width:  100%; height: 140px;
        /*border-radius: 25px;*/
    }



    .h1
    {
        font-size: 25px;
        height: fit-content;    width: fit-content;
         padding:  5px 15px 10px 15px ; margin:  2px auto 15px auto;    }



    .head a
    {

        font-size: 13px;
        height: fit-content;    width: fit-content;
        padding: 5px 2px 5px 2px; margin: 5px auto 2px 10px;
    }

    .navbarH
    {

        height: 100%;    width: 100%;
         margin-bottom: 0px;
    }

    .head
    {

        height: 100%;    width: 100%;
        padding: 20px 20px 20px 10px; margin: -2px auto 0 auto ;

    }

    .head_2
    {

        height: fit-content;    width: 100%;
        padding: 20px 10px 5px 10px; margin: 0px auto 0px 0px;
    }

    .head_3
    {

        height: fit-content;    width: 100%;
        padding: 20px 20px 5px 20px; margin: 0 0 0 0 ;
    }




    .p_list
    {
        /*display: block;*/
        position: center;
        margin: 10px auto;
        text-indent: 50px; text-align: justify;  line-height: 3; font-size: 10px;

    }

    .img_list
    {
        /*display: inline;*/
        position: absolute;
        width: 42px;  height: 42px;
        margin: -1px -45px;
    }


    .div_box_sreach
    {
        width: 88%;
    }

    .list_sreach
    {
        width: 120px; height: 40px;
        margin: 8px 5px;
        font-size: 11px;
    }


    .btn_submit_sreach
    {
        width: 120px; height: 40px;
        margin: 8px 5px;
        font-size: 11px;
    }

    .navbarH h2
    {
        margin: 10px 0px 0px ;  padding: 5px 3px ;
        font-size: 13px;

    }

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 576px) and (max-width: 767.98px)
{
    .Display_Grid-container {

        grid-template-columns:  48% 48% ;
    }

    .fo_Gr-container {

        grid-template-columns:  48% 48% ;
    }


    .h1
    {
        font-size: 25px;
    }

    .head h2
    {
        font-size: 25px;
    }

    .head a
    {  /* start links  of header */
        font-size: 15px;
    }


    /*.box_sreach*/
    /*{*/
    /*    width: 90%;*/
    /*}*/
    /*.list_sreach*/
    /*{*/
    /*    width: 100px;*/
    /*    margin: 8px 5px;*/
    /*}*/
    /*.list_sreach*/
    /*{*/
    /*    width: 114px; height: 35px;*/
    /*    margin: 8px 5px;*/
    /*    font-size: 10px;*/
    /*}*/

    /*.btn_submit_sreach*/
    /*{*/
    /*    width: 110px; height: 35px;*/
    /*    margin: 8px 5px;*/
    /*    font-size: 11px;*/
    /*}*/

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 768px) and (max-width: 991.98px)
{



    .Display_Grid-container {

        grid-template-columns:  32% 32% 32%;

    }

    .fo_Gr-container {

        grid-template-columns:  32% 32% 32% ;
    }


    .h1
    {
        font-size: 25px;
    }

    .head h2
    {
        font-size: 25px;
    }

    .head a
    {  /* start links  of header */
        font-size: 15px; margin: 6px;
    }
    .img_item_img1{
        display: block;
        margin: auto auto;
        width:  100%; height: 140px;
        /*border-radius: 25px;*/
    }


}

@media (min-width: 992.98px) and (max-width: 1199px)
{

    .Display_Grid-container {

        grid-template-columns:  32% 32% 32%;

    }


    .h1
    {
        font-size: 25px;
    }

    .head h2
    {
        font-size: 25px;
    }

    .head a
    {
        font-size: 15px;
    }
    .img_item_img1{
        display: block;
        margin: 0 0;
        width:  100%; height: 140px;
        /*border/-radius: 25px;*/
    }

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px)
{
    .Display_Grid-container {
        grid-template-columns:  23% 23% 23% 23% ;
    }



/*    .h1*/
/*    {*/
/*        font-size: 60px;*/
/*    }*/

/*    .head h2*/
/*    {*/
/*        font-size: 25px;*/
/*    }*/

/*    .head a*/
/*    {  !* start links  of header *!*/
/*        font-size: 31px;*/
/*    }*/

/*    .head*/
/*    {*/
/*        height: 400px;*/
/*        */
/*    }*/



}


