*
{
    box-sizing: border-box;
    direction: rtl;
    font-family: calibri;
    font-weight: normal;
    /*font-family: "Source Sans Pro", "Arial", sans-serif;*/
    font-size: 13px;
}

.error {color: #FF0000;}

body
{  /* start boody */
    background-color: grey;
    /*width: 95%;*/
    margin: auto auto ;
    padding: 0 0;
}

.bar
{ /* start mune */
    animation-delay: 2400ms;
    background-color: #eeeded;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);    width: 100%;
    margin: auto auto ;
    padding: 0 20px;
    height: 60px;
}

.bar h2
{   /* start title  of bar */

    display: inline-block;
    margin: 15px auto;
    padding: 0 0 ;
    font-size: 20px;
    height: fit-content;
    width: fit-content;
}


.bar p
{
    float: left;
    display: block;
    margin: 15px  auto;
    padding: 0 0 ;
    font-size: 20px;
    height: fit-content;
    width: fit-content;
    animation-name: example;
    animation-fill-mode: backwards;
    animation-duration: 9s;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
}

.head
{     /* start header */
    display: block;
    /*background-image: linear-gradient(120deg, #ffd700 85%,#fffefc 10%, gold 100%);*/
    background-image: linear-gradient(to top, #FFD700 0%, #ffe977 100%);
    color: #f5f1f3;
    width: 100%;
    height: fit-content;
    margin: auto auto;
    text-align: center;
    padding: 25px 0;
    border-top: 1px solid black;
    max-height: 100pc;
}

#text
{
    background-color: rgba(252, 252, 252, 0.8);
    display: grid;
    margin: 5px auto;
    padding:12px 20px ;
    border-radius: 1pc ;
    border: none;
    font: bold 18px Samim;

}


.btn_submit
{
    background-image: linear-gradient(to right, #ffb347 0%, #ffcc33  51%, #ffb347  100%);
    border: none;
    color: white;
}

.btn_submit:hover
{
    background-image: linear-gradient(to right, #f8f7f4 0%, #ffcc33  51%, #fffefc 100%);
    border: none;
    color: black;
}




.head h1
{
    display: inline-block;
    height: fit-content;
    width: fit-content;
    width: -moz-fit-content;
    display: block;
    color: black;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    text-align: center;
    margin: auto auto ;
    padding: 0 40px ;
    font-size: 85px;
    border-radius: 6pc 3pc;
}

.head h2
{
    display: block;
    color: #fcf8f8;
    text-align: center;
    margin: 40px auto 10px;
    padding: 15px 20px ;
    font-size: 30px;
    height: fit-content;
    width: fit-content;
    width: -moz-fit-content;
    border-radius: 6pc 3pc;
    background-color: rgba(2, 2, 2, 0.4);
}

.head a
{  /* start links  of header */
    width: fit-content;
    height: fit-content;
    display: inline-block;
    text-decoration: none;
    color: black;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    text-align: center;
    margin: 50px 3px 0 ;
    padding: 10px 15px;
    /*border: 1px dashed #0a0a0a;*/
    border-radius: 3pc 1pc;
    font-size: 30px;
    white-space: normal;
}

.head a:hover
{
    color: white;
    background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
    background-blend-mode: screen;}

.head  ol
{
    text-align: right;

    margin: 050px;
    margin-right: 0100px;
}

.head  ol li
{
    list-style: decimal-leading-zero;
    list-style: -moz-decimal-leading-zero;
    list-style: -ms-decimal-leading-zero;
    text-indent: 5px;
    color: black;
    font-size: 20px;
    letter-spacing: 1px;
}



/*.head  ul li*/
/*{*/
/*    display: block;*/
/*    margin: auto auto ;*/
/*    text-align: right;*/
/*    padding: 5px 30px;*/
/*}*/


footer
{
    display: inline-block;
    width: 100%;
    background-color: #131212;
    margin: auto  auto;
    padding: 0 200px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}

footer ul
{
    /*margin: 10px 02PX;*/
    color: #e9e8e8;
}

footer ul li{
    /*display: grid;?*/
}


footer h3
{
    display: none;
    margin: auto 200px ;
    text-align: center;
    padding: 5px 5px;
}

footer a
{
    text-decoration: none;
    color: white;
}

/*  start  Display Page  */
.Display_Body
{
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #e7e3d1 0%, #f8cf04 100%);


    margin: auto auto;
    display: block;
}

.Display_Grid-container {

    display: grid;
    height: fit-content;
    width: 96%;
    margin: auto auto;
    grid-template-columns: 330px 330px 330px 330px ;
    justify-content: center;
    background-color: rgba(7, 7, 7, 0.5);
    /*background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);*/
    padding: 30px 10px;
    border-radius: 10px;
    grid-gap: 25px ;

}

.grid-item {
    display: block;
    background-color: white;
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    text-align: center;
    border-radius: 10px;
    /*border: 1px solid #c4c3c3;*/
    padding: 0px;
}

.link_item
{
    display: block;
    width:100%;
    margin: 0px auto;
    padding:5px 5px;
    background-image: linear-gradient(to right, #00f2fe 0%, #4facfe 100%);
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius:0px 0px 10px 10px ;

}

.link_item:hover
{
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);}

.td_desc
{
    height: 70px;
}
.grid-item table
{
    margin: 0px auto;
    width: 100%;
    text-align: center;

}

.grid-item table ,td
{
    table-layout: auto;
    border-collapse: separate;
    padding: 5px 10px;
    font-size: 13px;
    border-spacing: 0.4rem;
    height: 2.5em;
}

.grid-item  td
{
    width: 50%;
    border: 1px solid #1d1c1c;
    border-radius:10px;
    padding: 5px 5px;
}

.grid-item:hover
{
    background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
    background-blend-mode: screen;    color: black;
}

.grid-item p{
    font-size: 11px ;
    height: fit-content;
    width: fit-content;
}

.imh_grid
{
    height: 200px;
    width: 200px;
}

.DisplayHead
{
    display: block;
    width: 100%;
    margin: 20px  auto;
    justify-content: center;
    /*background-color: rgb(255, 252, 252);*/
}

.box_form
{
    display: block;
    margin: 60px auto ;
    padding: 10px 15px;
    width: fit-content;
    width: -moz-fit-content;
    height: fit-content;
    /*background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);*/
    background-color: rgba(7, 7, 7, 0.5);
    color: snow;
    text-align: center;
    border-radius: 15px;
    vertical-align: top;
}

.form_insert
{
    vertical-align: top;
    width: fit-content;
    height: fit-content;
    margin: 10px auto;
    padding: 10px 5px;
    display: block;
    vertical-align: top;
}

.list_insert
{
    display: block;
    margin: 15px auto;
    padding: 5px 10px;
    height: 45px;
    width: 300px;
    border-radius: 10px;
    border-width: 0px;
    font-family: calibri;
    text-align: center;
    font-size: 18px;

}

.list_insert:hover {
    background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: normal, lighten, soft-light;
    color: black;
}



input[type=text].input_form_insert
{
    display: block;
    margin: 15px auto;
    padding: 5px 10px;
    height: 45px;
    width: 300px;
    border-radius: 10px;
    border-width: 0px;
    font-family: calibri;
    text-align: center;
    font-size: 18px;
}

input[type=text].input_form_insert:hover {
    background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: normal, lighten, soft-light;    color: snow;
}


.textarea_form_insert
{
    display: block;
    margin: 15px auto;
    padding: 5px 10px;
    height: 90px;
    max-height: 90px;
    width: 300px;
    max-width: 300px;
    border-radius: 10px;
    border-width: 0px;
    text-align: center;
    font-size: 18px;
    border-radius: 15px;
}

.textarea_form_insert:hover {
    background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: normal, lighten, soft-light;    color: snow;
}

.box_sreach
{
    margin: 15px auto ;
    padding: 10px 15px;
    width: fit-content;
    width: -moz-fit-content;
    height: fit-content;
    /*background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);*/
    background-color: rgba(7, 7, 7, 0.5);
    color: snow;
    font-family: calibri;
    text-align: center;
    font-size: 15px;
    border-radius: 15px;
}

.list_sreach
{
    display: block;
    width:300px;
    height: 45px ;
    margin: 15px auto;
    padding: 5px 10px;
    border-radius: 10px;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    font-family: calibri;
    text-align: center;
    font-size: 15px;
}

.btn_submit_sreach {
    margin: 5px auto;
    padding: 5px 10px;
    height: 45px ;
    width: 300px;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    color: black;
    border-radius: 10px;
    display: block;
    font-family: calibri;
    text-align: center;
    font-size: 18px;
    border-width: 0px;
}

.btn_submit_sreach:hover {
    background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
    background-blend-mode: screen;    color: snow;
}

.diHead
{
    width: fit-content;
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    border-radius: 15px;
    /*border: 1px solid #c4c3c3;*/
}



/*  end  Display Page  */


/*// Extra small devices (portrait phones, less than 576px)*/
/*// No media query for `xs` since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (max-width: 575.98px)
{
    .Display_Grid-container {
        display: block;
    }

    /*    dfff */

    .grid-item {
        margin: 10px;
    }

    .head h1
    {
        font-size: 25px;
        height: fit-content;
        width: fit-content;
        padding: 15px;
    }

    .head h2
    {
        font-size: 13px;
        height: fit-content;
        width: fit-content;
        padding: 15px;
    }

    .head a
    {  /* start links  of header */

        font-size: 20px;
        /*margin: 20px 10px;*/
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 576px) and (max-width: 767.98px)
{
    .Display_Grid-container {
        display: grid;
        grid-template-columns:  48% 48% ;
    }

    .head h1
    {
        font-size: 50px;
    }

    .head h2
    {
        font-size: 20px;
    }

    .head a
    {  /* start links  of header */

        font-size: 20px;
    }


}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 768px) and (max-width: 991.98px)
{

    .Display_Grid-container {
        display: grid;
        width: 98%;
        grid-template-columns:  32% 32% 32%;
        grid-gap: 15px ;

    }

    .grid-item    td{
        font-size: 10px;
    }




    .head h1
    {
        font-size: 60px;
    }

    .head h2
    {
        font-size: 25px;
    }

    .head a
    {  /* start links  of header */

        font-size: 31px;
    }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px)
{

}

.alert_success{
    width: 100%;
    margin: 0px;
    padding: 5px;
    background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
    text-align: center;
    font-size: 25px;
    color: green;
    }


.alert_danger{
    width: 100%;
    margin: 0px;
    padding: 5px;
    background-image: linear-gradient( 135deg, #F05F57 10%, #360940 100%);
    text-align: center;
    font-size: 25px;
    color: white;
}

.alert_info{
    width: 100%;
    margin: 0px;
    padding: 5px;
    /*background-image: linear-gradient( 135deg, #FDEB71 10%, #F8D800 100%);*/
    background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
    text-align: center;
    font-size: 25px;
    color: white;
}

#id_item
{
    width: fit-content;
    width: -moz-fit-content;
    margin:0 auto;
    padding: 5px 5px;
    background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
    text-align: center;
    font-size: 18px;
    color: white;
    border-radius: 0 0 10px 10px;
}

